body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: centers;
    background-color: lightcoral;
    font-family: sans-serif;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: lightslategray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: lightsteelblue 0px 0px 5px 5px;
}

.btn-grid {
    display: grid;
    grid-row: 4 auto;
    gap: 10px;
    margin: 20px 0;
    
}

.btn {
    border: 2px solid cyan;
    background-color: lightcyan;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: darkblue;
}

.start-btn, .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none
}